@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family: 'Signika_Negative', 'Helvetica';
}

.custom-img {
  background-image: url("/imgs/urban.jpg")
}